
<form class="example-form">

    <mat-form-field class="example-full-width">

      <mat-label>Assignee</mat-label>

      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="dispalySelection($event.option.value)" (closed)="onClosed($event)" class="myauto">

        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="myoption">
          <div class="optiontext">{{option.name}}</div>
        </mat-option>

      </mat-autocomplete>

    </mat-form-field>

    <p>
        {{ myControl.value ? myControl.value.name: ""}}
    </p>

  </form>