<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>


<a [routerLink]="['/async']">
    <h1>Async</h1>
</a>

<a [routerLink]="['/mat']">
    <h1>Material</h1>
</a>

<a [routerLink]="['/table']">
  <h1>Table</h1>
</a>


<a routerLink="/customers">
  <h1>Customers</h1>
</a>

<a routerLink="/orders">
  <h1>Orders</h1>
</a>

<a [routerLink]="['/cart']" class='button fancy-button'>
    <!-- <i class='material-icons'>shopping_cart</i>Checkout -->
    <fa-icon [icon]="faShoppingCart"></fa-icon>&nbsp;Checkout
</a>
